* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #ffffff;
    padding-top: 90px;
}

header {
    background-color: #ffffff;
    position: fixed;
    margin: -90px auto;
}

.header__superior {
    display: flex;
    justify-content: space-between;
}

.header__superior__izquierdo {
    display: flex;
    padding: 5px;
}

.header__superior__izquierdo .logo {
    cursor: pointer;
    margin: auto 10px;

}

.header__superior__izquierdo .logo img {
    width: 50px;
    height: auto;
    transition: all 0.5;
}

.header__superior__izquierdo .logo img:hover {
    transform: scale(1.1);
}

.header__superior__izquierdo .barra__busqueda {
    display: flex;
    align-items: center;
    margin: auto 10px;
}

.header__superior__izquierdo .barra__busqueda input[type="text"] {
    border: none;
    border-radius: 20px;
    padding: 9px 15px;
    font-size: 16px;
    color: #8C635A;
    background-color: #f5f5f5;
    width: 300px;
    margin-right: 20px;
    transition: all 0.5 ease 0;
}

.header__superior__izquierdo .barra__busqueda input[type="text"]::placeholder {
    color: #8C635A;
}

.header__superior__izquierdo .barra__busqueda input[type="text"]::placeholder:focus {
    color: #593C39;
}

.header__superior__izquierdo .barra__busqueda input[type="text"]:focus {
    outline: none;
    background-color: #f2f2f2;
}

.header__superior__izquierdo .barra__busqueda input[type="text"]:hover {
    outline: none;
    background-color: #f2f2f2;
    transform: scale(1.01);
}

.header__superior__derecho {
    display: flex;
    align-items: center;
    padding: 5px;
    width: auto;
}

.header__superior__derecho .iniciar__sesion {
    margin: 10px;
}

.header__superior__derecho .iniciar__sesion button {
    color: #ffffff;
    padding: 9px 25px;
    background-color: #8C635A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header__superior__derecho .iniciar__sesion button:hover {
    background-color: #593C39;
    color: #ffffff;
    transform: scale(1.1);
}

.header__superior__derecho .registrarse {
    margin: 10px;
}

.header__superior__derecho .registrarse button {
    color: #ffffff;
    padding: 9px 25px;
    background-color: #8C635A;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header__superior__derecho .registrarse button:hover {
    background-color: #593C39;
    color: #ffffff;
    transform: scale(1.1);
}

.header__superior__derecho .carrito__compras {
    margin: auto 15px;
}

.header__superior__derecho .carrito__compras img {
    width: 30px;
    height: auto;
    transition: all 0.3;
}

.header__superior__derecho .carrito__compras img:hover {
    transform: scale(1.2);
}

.header__inferior .nav__bar {
    list-style: none;
    padding: 0;

}

.header__inferior .nav__bar ul {
    display: flex;
    justify-content: space-around;
}

.header__inferior .nav__bar ul li {
    display: inline-block;
    padding: 0 20px;
    color: #ffffff;
}

.header__inferior .nav__bar ul li:hover {
    background-color: #593C39;
    border-radius: 30px;
}

.header__inferior .nav__bar a {
    color: #8C635A;
    text-decoration: none;
}

.header__inferior .nav__bar li a:hover {
    color: #ffffff;
}

hr.line__bar {
    color: #593C39;
    background-color: #593C39;
    width: 100vw;
    height: 1px;
    margin: 1px auto;
}

.vista__principal {
    display: flex;
    justify-content: space-evenly;
}

.vista__principal .vista__izquierda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #593C39;
}

.vista__principal .vista__izquierda h2 {
    font-size: 3em;
    
}

hr.line__titles {
    width: 10em;
    height: 1px;
    color: #8C635A;
    margin: 2px;
}

.vista__principal .vista__izquierda p {
    margin: 2px;
}

.vista__principal .vista__izquierda .boton__ir {
    margin: 10px;
}

.vista__principal .vista__izquierda .boton__ir button {
    color: #ffffff;
    padding: 9px 25px;
    background-color: #A0DBF2;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 38px;
}

.vista__principal .vista__izquierda .boton__ir button:hover {
    background-color: #A8E6FC;
    color: #ffffff;
    transform: scale(1.1);
}

.vista__principal .imagen__modelo .modelo__mujer {
    width: 340px;
    height: auto;
}

.vista__principal .imagen__modelo .modelo__hombre {
    width: 300px;
    height: auto;
}


.section2 {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #593C39;
    font-size: 1.8em;
}

.seccion2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-bottom: 30px;
}

.seccion2 h4 {
    color: #593C39;
    margin: 15px auto;
    font-size: 1.3em;
}

.seccion2 img {
    width: 200px;
    height: auto;
}

.seccion2 .imagen {
    margin-top: 25px;
    width: calc(100vw/4);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1;
}

.seccion2 .imagen img {
    width: 250px;
}

.seccion2 .imagen img:hover {
 transform: scale(1.1);
}

.section3 {
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-divs {
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: auto;
    font-size: 1.2em;
    justify-content: space-around;
}

.contenedor-divs a {
    text-decoration: none;
    color: #8C635A;
    transition: all .2 ease;
}

.contenedor-divs a:hover {
    color: #623E2A;
    text-decoration: underline double #A0DBF2;
}

.div-izquierdo, .div-derecho {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.lista-derecha, .lista-izquierda {
    list-style-type: none;
    display: inline-block;
    align-self: center;
    text-align: center;
}

.der-items:first-child, .iz-items:first-child {
    font-weight: bold;
    color: #A0DBF2;
}

.der-items, .iz-items {
    margin: 10px;
}

.img-derecha, .img-izquierda {
    display: inline-block;
    align-self: center;
}

.imagenes-divs {
    width: 320px;
    height: auto;
}

.video-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-container {
    margin: 20px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 70%;
    height: 500px;
}

.section5 {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}

.card1, .card2, .card3 {
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card1:hover, .card2:hover, .card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.card1 h4, .card2 h4, .card3 h4 {
    margin: 5px 0;
    align-self: center;
    color: #8C635A;
    font-weight: bold;
    font-size: 1.2em;
}

.card1 p, .card2 p, .card3 p {
    font-size: 0.9em;
    text-align: justify;
    line-height: 1.3em;
}

.card1 img, .card2 img, .card3 img {
    width: 300px;
    height: 300px;
}

.img-card1, .img-card2, .img-card3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #8C635A;
    margin-top: 60px;
}

.footer-section {
    display: flex;
    flex-direction: column;
}

.div-footer-superior {
    width: 100%;
    height: 300px;
    padding: 100px 50px;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.image-logo {
    position: absolute;
    bottom: 250px;
    border: 1px solid #623E2A;
}

.image-logo img {
    width: 60px;
}

.lista-productos, .lista-contacto, .lista-nosotros {
    border: 1px solid #ffffff;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.lista-contacto img {
    width: 20px;
    margin-right: 10px;
}

.div-footer-superior ul li {
    list-style-type: none;
    text-align: center;
    margin: 10px;
    line-height: 20px;
    font-size: 1em;
}

.div-footer-superior ul li:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

.div-footer-superior ul li a {
    color: #ffffff;
    text-decoration: none;
}

.div-footer-superior ul li a:hover {
    color: #ffffff;
    text-decoration: underline #ffffff;
}

.redes-sociales-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes-sociales-imgs img {
    width: 20px;
    margin: 10px;
}


