.sign_up {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
}

.sign_up_container {
    width: 100%;
    height: 550px;
    max-width: 400px;
    max-height: 600px;
    background-color: #ffffff;
}

.sign_up_icons {
    margin: 1rem;
}

.sign_up_icons img {
    width: 70px;
}

.sign_up_form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1.1rem;
}

h1 {
    font-size: 2.5em;
    color: #593C39;
    text-align: center;
}

.sign_up_form .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sign_up_form .links a {
    text-decoration: none;
    color: #8C635A;
    font-size: .8rem;
}

.sign_up_form .links a:hover {
    color: #A8E6FC;
}

.sign_up_form input[type="text"],
.sign_up_form input[type="email"],
.sign_up_form input[type="password"] {
    border: none;
    border-radius: 20px;
    padding: .7rem 1rem;
    font-size: 1rem;
    color: #8C635A;
    background-color: #f5f5f5;
    width: 90%;
    transition: all .5s;
}

.sign_up_form input[type="text"]::placeholder,
.sign_up_form input[type="email"]::placeholder,
.sign_up_form input[type="password"]::placeholder {
    color: #8C635A;
}

.sign_up_form input[type="text"]::placeholder:focus,
.sign_up_form input[type="email"]::placeholder:focus,
.sign_up_form input[type="password"]::placeholder:focus {
    color: #8C635A;
}

.sign_up_form input[type="text"]:focus,
.sign_up_form input[type="email"]:focus,
.sign_up_form input[type="password"]:focus {
    outline: none;
    background-color: #f2f2f2;
}

.sign_up_form input[type="text"]:hover,
.sign_up_form input[type="email"]:hover,
.sign_up_form input[type="password"]:hover {
    transform: scale(1.01);
}

.social_media {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}
.social_media img {
    width: 50px;
    cursor: pointer;
}

.sign_up_form button {
    border: none;
    border-radius: 30px;
    padding: .8rem 1.5rem;
    background-color: #A0DBF2;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s;
}

.sign_up_form button:hover {
    background-color: #A8E6FC;
    transform: scale(1.1);
}

@media screen and (max-width:899px) {
    .sign_up {
        align-items: flex-start;
    }

    .sign_up_icons .padlock_icon {
        visibility: hidden;
        position: absolute;
    }
}

@media screen and (min-width:900px) {
    .sign_up {
        align-items: center;
        /* background-image: url(https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
        background-attachment: fixed;
        background-size: cover;
        background-position: center; */
    }
    .sign_up_container {
        border: 1px solid #8C635A;
    }
    
    .sign_up_icons {
        border: 1px solid #593C39;
        border-radius: 60px;
    }
    .sign_up_icons .logo_icon {
        visibility: hidden;
        position: absolute;
    }

}