.main_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.3rem;
}

.main_sign_up_container,
.main_sign_in_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sign_up_container,
.sign_in_container {
    width: 100%;
    height: 550px;
    max-width: 400px;
    max-height: 600px;
    background-color: #ffffff;
}

.sign_up_icons,
.sign_in_icons {
    margin: 1rem;
}

.sign_up_icons img,
.sign_in_icons img {
    width: 70px;
}

.sign_up_form,
.sign_in_form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1.1rem;
}

h1,
h2 {
    font-size: 2.5em;
    color: #593C39;
    text-align: center;
}

.sign_up_form .links,
.sign_in_form .links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.sign_up_form .links a,
.sign_in_form .links a {
    text-decoration: none;
    color: #8C635A;
    font-size: .8rem;
}

.sign_up_form .links a:hover,
.sign_in_form .links a:hover {
    color: #A8E6FC;
}

.sign_up_form input[type="text"],
.sign_up_form input[type="email"],
.sign_in_form input[type="email"],
.sign_up_form input[type="password"],
.sign_in_form input[type="password"] {
    border: none;
    border-radius: 20px;
    padding: .7rem 1rem;
    font-size: 1rem;
    color: #8C635A;
    background-color: #f5f5f5;
    width: 90%;
    transition: all .5s;
}

.sign_up_form input[type="text"]::placeholder,
.sign_up_form input[type="email"]::placeholder,
.sign_in_form input[type="email"]::placeholder,
.sign_up_form input[type="password"]::placeholder,
.sign_in_form input[type="password"]::placeholder {
    color: #8C635A;
}

.sign_up_form input[type="text"]::placeholder:focus,
.sign_up_form input[type="email"]::placeholder:focus,
.sign_in_form input[type="email"]::placeholder:focus,
.sign_up_form input[type="password"]::placeholder:focus,
.sign_in_form input[type="password"]::placeholder:focus {
    color: #8C635A;
}

.sign_up_form input[type="text"]:focus,
.sign_up_form input[type="email"]:focus,
.sign_in_form input[type="email"]:focus,
.sign_up_form input[type="password"]:focus,
.sign_in_form input[type="password"]:focus {
    outline: none;
    background-color: #f2f2f2;
}

.sign_up_form input[type="text"]:hover,
.sign_up_form input[type="email"]:hover,
.sign_in_form input[type="email"]:hover,
.sign_up_form input[type="password"]:hover,
.sign_in_form input[type="password"]:hover {
    transform: scale(1.01);
}

.sign_in_form .remember_me {
    width: 85%;
    color: #8C635A;
    display: flex;
    justify-content: flex-end;
    gap: .3rem;
}

.social_media {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}
.social_media img {
    width: 50px;
    cursor: pointer;
}

.message button,
.sign_up_form button,
.sign_in_form button {
    border: none;
    border-radius: 30px;
    padding: .8rem 1.5rem;
    background-color: #A0DBF2;
    color: #ffffff;
    cursor: pointer;
    transition: all .5s;
}

.message button:hover,
.sign_up_form button:hover,
.sign_in_form button:hover {
    background-color: #A8E6FC;
    transform: scale(1.1);
}

@media screen and (max-width:899px) {
    .message {
        visibility: hidden;
        position: absolute;
    }

    .sign_up,
    .sign_in {
        align-items: flex-start;
    }

    .sign_up_icons .padlock_icon,
    .sign_in_icons .padlock_icon {
        visibility: hidden;
        position: absolute;
    }
}

@media screen and (min-width:900px) {
    .main_container {
        height: 90vh;
        flex-direction: row;
    }

    .main_sign_up_container,
    .main_sign_in_container {
        height: 90vh;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .main_sign_in_container {
        position: absolute;
        opacity: 0;
        visibility: hidden;
    }

    .main_sign_up_container.active {
    opacity: 0;
    visibility: hidden;
    }

    .main_sign_in_container.active {
    opacity: 1;
    visibility: visible;
    }

    .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: .6rem;
    }

    .message p {
        color: #8C635A;
    }

    .message button {
        width: max-content;
    }
    
    .sign_up,
    .sign_in {
        align-items: center;
    }

    .sign_up_container,
    .sign_in_container {
        border: 1px solid #8C635A;
    }
    
    .sign_up_icons,
    .sign_in_icons {
        border: 1px solid #593C39;
        border-radius: 60px;
    }
    .sign_up_icons .logo_icon,
    .sign_in_icons .logo_icon {
        visibility: hidden;
        position: absolute;
    }

}

